@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
body{
  font-family: Garamond;
  margin: 10px;
  font-size: large;
  color: #353633;
  background-color: #E0E1DD;
}

.title{
  font-size: 9ch;
  font-weight: 600;
  padding: 5px;
  padding-bottom: 10px;
  width: 100%;
}

.subhead{
  font-size: 6ch;
  font-style: italic;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

.disc{
  width:100%;
  padding: 10px;
}

.disc-apple{
  width:100%;
  padding: 10px;
  font-size: 3ch;
  color: black;
}

.disc-apple-main{
  width:100%;
  padding: 10px;
  font-size: 3.5ch;
  color: #6e6e73;
}

.bricks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img{
  width: 90%;
  height: auto;
}

.brick{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 48%;
  margin: 10px;
  border: solid;
  height: 500px;
  overflow: scroll;
  justify-content: center;
}

.brickHomepage{
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
  overflow: clip;
  margin: 10px;
  border: solid;
  display: flex;
}

.block-quote {
  color: grey;
  font-style: italic;
  margin-left: 5%;
  margin-right: 5%;
}

.sampleImg{
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.overlay {
  margin-left: -100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.brickHomepage:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlayText {
  font-family: Garamond;
  font-style: italic;
  font-size: 5ch;
  color: white;
  z-index: 5;
  opacity: 1;
  font-size: 20px;
  position: absolute;
  text-align: center;
}

.left-half {
  font-family: Garamond;
  width: 50%;
  font-size: x-large;
  border-right: dashed;
  margin-bottom: 1.8vw;
  padding: 5px;
}

.left-half-noDash {
  font-family: Garamond;
  width: 50%;
  font-size: x-large;
  margin-bottom: 1.8vw;
  padding: 5px;
}

.left-most-noDash {
  font-family: Garamond;
  width: 100%;
  font-size: x-large;
  margin-bottom: 1.8vw;
  padding: 5px;
}
.tapback-text {
  padding: 20px;
  width: 60%;
  font-size: x-large;
}
.iphoneMockup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
}

.iphoneMockup-noPadLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 30px;
  padding-left: 0;
}
.tapback-right {
  width: 40%;
  font-size: x-large;
}

.apple-icon {
  width: 50px;
  max-height: 75px;
  padding: 20px;
}

.apple-sketch {
  width: 70%;
  padding: 20px;
  border-radius: 30px;
  box-shadow: #222930;
}

.left-small {
  font-family: Garamond;
  width: 39%;
  font-size: x-large;
  margin-bottom: 1.8vw;
}

.mePhoto {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: small;
  height: 100%;
}
.mePhotoSmall {
  width: 50vw;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: small;
}

.contactPhoto {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: small;
}
.mePhoto img{
  width: 100%;
}

.contact{
  font-size: xx-large;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 79vh;
}

ul{
  margin-top: 0.5ch;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}

a:active{
  color: #222930;
}

.writing{
  display: flex;
  flex-wrap: wrap;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}

.resume{
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.pdf{
  margin-left: 0;
  margin-bottom: 0;
  height: 90vh;
  border: none;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1ch;
  border-top: dashed;
  bottom: 0;
  position: relative;
  padding-bottom: 0;
  left: 0;
  width: 100%;
  height: 2vh;
  background-color: #E0E1DD;
}

.not-footer {
  background-color: #E0E1DD;
  min-height: fit-content;
}

.vimeo{
  position: flex;
  width: 90%;
  padding: 0;
  height: 80%;
  margin: 0;
}

.vimeoTall{
  width: 100%;
  margin: 0;
  border: none;
}

.smallimg{
  padding: 1%;
  width: 30%;
}

.all{
  background-color: #E0E1DD;
}

.centerHome{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mediumImg{
  width: 50%;
}

.mediumImgPad{
  padding: 20px;
  width: 50%;
}

a:link {
  color: #353633;
}

.footer2{
  padding-top: 3%;
}

.webEmbed{
  height: 150vh;
  width: 56%;
  margin: 20px;
}

.centerElements{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-apple{
  color: black;
  background-color: white;
  border-radius: 20px;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subhead-apple{
  color: #847AF6;
  width: 100%;
  text-align: right;
  font-size: 4.5ch;
  font-weight: 500;
  text-align: left;
}
.flex-apple .title{
  padding: 0px;
  text-align: left;
  background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 6ch;
}

.flex-apple .subtitle-sideways{
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 6ch;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
  color: transparent;
  -webkit-background-clip: text;
  transform: rotate(-90deg);

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
}

.padBottom{
  padding-bottom: 1vh;
}

.left-pad{
  padding-left: 2vw;
}

.figma{
  width: 90%;
  height: 500px;
}

.row-tapback{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5ch;
  width: 100%;
}