@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");
body {
  font-family: Garamond;
  margin: 10px;
  font-size: large;
  color: #353633;
  background-color: #e0e1dd;
}

.title {
  font-size: 9ch;
  font-weight: 600;
  padding: 5px;
  width: 100%;
}

.title-short {
  font-size: 9ch;
  font-weight: 600;
  padding: 5px;
  width: 50%;
}

.title-center {
  text-align: center;
  font-size: 9ch;
  font-weight: 600;
  padding: 5px;
  width: 100%;
}

.title-alittleSmaller {
  font-size: 6ch;
  font-weight: 600;
  width: 100%;
}
.subhead {
  font-size: 6ch;
  font-style: italic;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

.subhead-wide {
  width: 99vw;
  font-size: 6ch;
  font-style: italic;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

.disc-small {
  width: 100%;
  padding: 10px;
}
.disc-small {
  font-size: small;
  margin: 0;
  padding: 0;
}
.disc-large {
  font-size: 3ch;
  width: 80vw;
  padding: 10px;
}

.seperator {
  border-bottom: dashed;
  width: 100vw;
  height: 0.1vh;
  margin-bottom: 1vh;
}

.disc-apple {
  padding: 10px;
  font-size: 3ch;
  color: black;
}
.disc-apple-wide {
  width: 55vw;
  padding: 10px;
  font-size: 3ch;
  color: black;
}

.disc-apple-main {
  width: 100%;
  padding: 10px;
  font-size: 3ch;
  color: #6e6e73;
}

.bricks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bricks-half {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

img {
  width: 90%;
  height: auto;
}

.brick {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 48%;
  margin: 10px;
  border: solid;
  height: 500px;
  overflow: scroll;
  justify-content: center;
}

.brickHomepage {
  max-width: 500px;
  max-height: 500px;
  min-width: 300px;
  min-height: 300px;
  overflow: clip;
  margin: 10px;
  border: solid;
  display: flex;
}

.block-quote {
  color: #353633;
  font-size: 3ch;
  font-style: italic;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}

.sampleImg {
  width: 100%;
  height: 100%;
  min-height: 500px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.overlay {
  margin-left: -100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.brickHomepage:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlayText {
  font-family: Garamond;
  font-style: italic;
  font-size: 5ch;
  color: white;
  z-index: 5;
  opacity: 1;
  font-size: 20px;
  position: absolute;
  text-align: center;
}

.left-text {
  font-size: 3ch;
  width: 55vw;
  padding-right: 1vw;
}

.left-text-big-text {
  font-size: 3ch;
  padding-left: 2vw;
  width: 55vw;
  padding-right: 1vw;
}
.left-text-small {
  font-size: 3ch;
  width: 40vw;
  min-width: 500px;
  padding-right: 3vh;
}

.left-half {
  font-family: Garamond;
  width: 50%;
  font-size: 3ch;
  margin-bottom: 1.8vw;
  padding: 3vw;
}

.left-half-noDash {
  font-family: Garamond;
  width: 50vw;
  font-size: 3ch;
  margin-bottom: 1.8vw;
  padding: 2vw;
  padding-top: 0;
}

.left-most-noDash {
  font-family: Garamond;
  width: 100%;
  font-size: 3ch;
  margin-bottom: 1.8vw;
  padding: 5px;
}
.tapback-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 30vw;
  min-width: 500px;
  font-size: 3ch;
}
.iphoneMockup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  min-width: 400px;
  padding: 10px;
}

.iphoneMockup-even {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: auto;
  padding-top: 5vh;
  padding-left: 10vh;
  padding-right: 10vh;
  padding-bottom: 5vh;
  min-width: 200px;
}
.iphoneMockup-small {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40ch;
  width: auto;
  padding: 10px;
  min-width: 200px;
}

.iphoneMockup-small-noPad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50ch;
  width: auto;
  padding: 10px;
  min-width: 200px;
}

.iconMockup {
  height: 30ch;
  width: auto;
  padding-bottom: 5ch;
}
.iphoneMockup-noPadLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 30px;
  padding-left: 0;
  min-width: 200px;
}
.tapback-right {
  width: 40%;
  font-size: 3ch;
}

.apple-icon {
  width: 50px;
  max-height: 75px;
  padding: 20px;
}

.apple-sketch {
  width: 30vw;
  padding: 3vw;
  border-radius: 30px;
  box-shadow: #222930;
}

.left-small {
  font-family: Garamond;
  width: 39%;
  font-size: 3ch;
  margin-bottom: 1.8vw;
}

.mePhoto {
  display: flex;
  max-width: 30vw;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: small;
  padding: 20px;
  border: dashed;
  margin-bottom: 10px;
}
.mePhotoSmall {
  width: 50vw;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: small;
}

.contactPhoto {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: small;
}
.mePhoto img {
  width: 100%;
}

.contact {
  font-size: x 3ch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 79vh;
}

ul {
  margin-top: 0.5ch;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}

a:active {
  color: #222930;
}

.writing {
  display: flex;
  flex-wrap: wrap;
  font-size: 3ch;
  align-items: center;
  justify-content: center;
}

.resume {
  height: fit-content;
  text-align: center;
  align-items: center;
  width: 80vw;
  justify-content: center;
  margin: 0;
}
.pdf {
  margin-left: 0;
  margin-bottom: 0;
  height: 90vh;
  border: none;
}
.footer {
  min-height: 2vh;
  width: 100%;
  margin: 10px;
  margin-top: 0;
  padding-top: 10px;
  border-top: dashed;
  padding-bottom: 0;
  background-color: #e0e1dd;
}

.not-footer {
  background-color: #e0e1dd;
  min-height: 93vh;
}

.vimeo {
  width: 40vw;
  height: 60vh;
  border-radius: 20px;
}

.vimeoTall {
  width: 30vw;
  padding: 2vw;
  height: 30vw;
  margin: 0;
  border: none;
}

.vimeoPicContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 30vw;
  padding: 2vw;
  padding-top: 0;
  margin: 0;
  border: none;
  border-radius: 20px;
}
.smallimg {
  min-width: 300px;
  width: 20vw;
  padding: 1vw;
  border-radius: 20px;
}

.nl {
  width: 98vw;
}

.all {
  background-color: #e0e1dd;
}

.centerHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 84.6vh;
}

.mediumImg {
  width: 50%;
  border-radius: 20px;
}

.mediumImgPad {
  padding: 20px;
  width: 50%;
}

.mediumImgPad-vw {
  padding: 20px;
  height: auto;
  max-height: 30vw;
}

a:link {
  color: #353633;
}

.footer2 {
  padding-top: 3%;
}

.webEmbed {
  height: 150vh;
  width: 56%;
  margin: 20px;
}

.centerElements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex-constrained {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.flex-constrained-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 1vw;
  border-left: dashed;
  border-right: dashed;
}
.shortImg {
  height: 26.5vw;
  width: auto;
  border-radius: 20px;
}
.flex-noJust {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-apple {
  color: black;
  background-color: white;
  border-radius: 20px;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subhead-apple {
  color: #847af6;
  width: 100%;
  text-align: right;
  font-size: 5ch;
  font-weight: 500;
  text-align: left;
}

.subhead-apple-blue {
  color: #0075fa;
  width: 100%;
  text-align: right;
  font-size: 5ch;
  font-weight: 500;
  text-align: left;
}
.flex-apple .title {
  padding: 0px;
  text-align: left;
  font-weight: 900;
  background-image: linear-gradient(
    90deg,
    #2ca2b4,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43
  );
  color: transparent;
  -webkit-background-clip: text;
  font-size: 6ch;
}

.flex-apple .title-bold {
  padding: 0px;
  text-align: left;
  font-weight: 2000;
  background-image: linear-gradient(
    90deg,
    #2ca2b4,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43
  );
  color: transparent;
  -webkit-background-clip: text;
  font-size: 6ch;
}

.flex-apple .subtitle-sideways {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 6ch;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #2ca2b4,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43
  );
  color: transparent;
  -webkit-background-clip: text;
  transform: rotate(-90deg);

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
}

.padBottom {
  padding-bottom: 1vh;
}

.left-pad {
  padding: 2vw;
}

.figma {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 500px;
  border-radius: 20px;
}

.row-tapback {
  display: flex;
  flex-wrap: wrap;
  padding: 5ch;
  width: 90vw;
}

.row-tapback-head {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 2ch;
  width: 90%;
}
.blue {
  color: #3772ff;
}

.green {
  color: #2b9720;
}

.monospace {
  font-family: monospace;
  line-height: 30px;
}

.widestPoss {
  width: 100%;
}

.pad {
  padding: 1vw;
  border-radius: 20px;
}
.a-little-pad {
  width: 3vw;
}
.vert-pad {
  height: 3vh;
}
li {
  margin-bottom: 0px;
}
