@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
header{
  font-family: Garamond;
  font-size: xx-large;
  margin: 10px;
  display: flex;
}

.myName{
  text-align: end;
  font-size: 50px;
}

.navBar{
  width: 80%;
  text-align: left;
  font-size: x-large;
}

.navLink{
  padding-left: 1%;
  padding-right: 1%;
  text-decoration: none;
  font-size: x-large;
}

.navLink:hover{
  text-decoration: underline;
  cursor: pointer;
}
a:visited { 
  text-decoration: none; 
  color: #353633; 
 }
 .footer {
  border-top: dashed;
  position: absolute;
  padding: 1%;
  bottom: 0;
  width: 100vw;
}