@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
header{
  font-family: Garamond;
  font-size: x-large;
  margin: 10px;
  margin-left: 10px;
  display: flex;
  border-bottom: dotted;
  padding-bottom: 5px;
  width: 95vw;
  height: 9vh;
  min-height: fit-content;
}

.myName{
  text-align: end;
  font-size: xx-large;
  text-decoration: none;
  width: 25%;
}

.myName:hover{
  font-style: italic;
}

.navBar{
  width: 80%;
  text-align: left;
  font-size: x-large;
}

.navLink{
  padding-left: 0%;
  padding-right: 1%;
  text-decoration: none;
}

.navLink:hover{
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}
a:visited { 
  text-decoration: none; 
  color: #353633; 
 }
