@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
header {
  font-family: monospace;
  font-size: xx-large;
  margin: 1vh;
  margin-left: 10px;
  display: flex;
  border-bottom: dashed;
  padding-bottom: 5px;
  width: 95vw;
  min-height: 5ch;
  max-width:95vw;
}

.myName {
  text-align: end;
  font-size: xx-large;
  text-decoration: none;
  width: 25vw;
  min-width:200px;
}

.myName:hover {
  font-style: italic;
}

.navBar {
  width: 80vw;
  text-align: left;
  font-size: x-large;
}

@media screen and (max-width: 600px){
  .navBar {
  width: 0;
  }
  header{
    flex-wrap:wrap;
    flex-direction:column-reverse;
  }
  .myName{
    text-align: left;
    border-bottom:dashed;
    padding-bottom:1.5vh;
    margin-bottom:1.5vh;
  }
}

.navLink {
  padding-left: 0%;
  padding-right: 1%;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
  color: #353633;
}
a:visited {
  text-decoration: none;
  color: #353633;
}

a:active {
  text-decoration: none;
  color: #353633;
}
